<h2>Последние посты:</h2>

<% @result.each do |post| %>
		<p>
			<%= post['content'] %>
			<br/>
			<br/>
			Время добавления: <%= post['ctreated_date'] %>
		</p>
	<hr/> <!-- раздляет чертой --> 
<% end %>