<h1> Добавить пост </h1>
<p>
	<form action="/new" method="POST" role="form">
	  	<textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="6" placeholder="Введите текст"></textarea>
	  	<br/>
	    <button type="submit" class="btn btn-primary mb-3">Опубликовать</button>
	</form>
</p>